<a href="javascript:void(0);" class="mr-3 text-primary" (click)="openModal(content)"  placement="top" ngbTooltip="Edit">
    <i class=" ri-add-fill font-size-18"></i>
  </a>

  <!-- Contacts model  -->
<ng-template #content role="document" let-modal="close">
    <div class="modal-header">
      <h5 class="modal-title">Ajouter Quantite</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-3">
      <div class="text-left">
        <form [formGroup]="validationform">

          
          <div class="form-group">
            <label for="prix">Prix</label>
            <input type="text" class="form-control" id="prix" placeholder="Enter le prix" formControlName="prix"
              [ngClass]="{'is-invalid': submitted && form.prix.errors}">
            <div *ngIf="submitted && form.prix.errors" class="invalid-feedback">
              <span *ngIf="form.prix.errors.required">prix obligatoire</span> 
            </div>
          </div>

          <div class="form-group">
            <label for="quantite">Quantite</label>
            <input type="text" class="form-control" id="quantite" placeholder="Enter la quantite" formControlName="quantite"
              [ngClass]="{'is-invalid': submitted && form.quantite.errors}">
            <div *ngIf="submitted && form.quantite.errors" class="invalid-feedback">
              <span *ngIf="form.quantite.errors.required">quantite obligatoire</span>
            </div>
          </div>
          <label class="control-label">Fournisseurs</label>
          <select class="form-control select1" formControlName="fournisseur" >
            <option>Select</option>
            <option *ngFor="let item of  fournisseurs let i= index" value = "{{item.id}}">{{item.nom}}</option>
          </select>
            <br>
          <div class="text-right">
            <button type="submit" class="btn btn-success" (click)="validSubmit()">Valider</button>
            <button type="button" class="btn btn-danger ml-1" (click)="modal('close click')">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  