<a href="javascript:void(0);" class="btn btn-success mb-2" (click)="extraLarge(exlargeModal)">
  <i class="mdi mdi-plus mr-2"></i> Ajouter Magasin
</a>

<!-- Contacts model  -->
<ng-template #exlargeModal role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">Ajouter un Magasin</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <div class="text-left">
      <form [formGroup]="validationform">

        <div class="form-group">
          <label for="nom">Entrez le nom de votre magasin</label>
          <input type="text" class="form-control" id="nom" placeholder="Enter nom" formControlName="nom"
            [ngClass]="{'is-invalid': submitted && form.nom.errors}">
          <div *ngIf="submitted && form.nom.errors" class="invalid-feedback">
            <span *ngIf="form.nom.errors.required">nom is mendatory.</span>
          </div>
        </div>
      
            
        <div class="row">
          <div class="col-12">
              <div class="card-body">
                <div class="card-title"></div>
                <div>
                  <dropzone class="dropzone" (success)="OnFileChange($event)" >
                  </dropzone>
                </div>
              </div>
          </div>
        </div>

        <div class="text-right">
          <button type="submit"  (click)="validSubmit()"  class="btn btn-success">Ajouter </button>
          <button type="button" class="btn btn-danger ml-1" (click)="modal('close click')">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
