<div class="container-fluid">
  <app-pagetitle title="Cart" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-centered mb-0 table-nowrap">
              <thead class="bg-light">
                <tr>
                  <th style="width: 120px">Produits</th>
                  <th>Produit description</th>
                  <th>Prix</th>
                  <th>Quantite</th>
                  <th>Total</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let commande of commandes">
                <app-row [commande]="commande" (parentFun)="calculerTotal()"></app-row>
                  </tr>

                <tr class="bg-light text-right">

                  <th scope="row" colspan="5">
                    Total :
                  </th>
                  <td>
                
                  </td>
                </tr> <br>
                <button class="btn btn-primary w-md waves-effect waves-light" (click)="commander()" type="submit">Commander</button>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
