<div class="container-fluid">
  
    <div class="row">
      <div class="col-lg-12">
        
        <div class="card">
          <div class="card-body">
            <div>
              <!--  -->
            </div>
            <div class="table-responsive mt-3">
              <table class="table table-centered datatable dt-responsive nowrap"
                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead class="thead-light">
                  <tr>
                  
                    <th>Désignation</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Unité</th>
                    <th>Action</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list; let i= index">
                    <td>{{item.designation}}</td>
                    <td>{{item.prix}} DH</td>
                    <td>{{item.quantite}} <app-ajouter-quantite (parentFun)="fetchData()"  [produit]="item"></app-ajouter-quantite></td>
                    <td>{{item.unite}}</td>
                    <td>
                      <app-details [produit]="item"></app-details>
                    </td>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  