<div class="container-fluid" >  
    <div class="row" *ngIf="loading">
      <div class="col-xl-12">
        <div class="text-center my-3">
          <a href="javascript:void(0);" class="text-primary">
            <i class="mdi mdi-loading mdi-spin font-size-20 align-middle mr-2"></i> Loading </a>
        </div>
      </div>
    </div>
    
    <div class="row"  >
      <div class="col-xl-3 col-sm-6" *ngFor="let data of magasins">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="{{data.logo}}"  alt class="avatar-sm mt-2 mb-4" />
              <div class="media-body">
                <h5 class="text-truncate">
                  <a href="javascript: void(0);" (click)="chose(data)" class="text-dark">{{data.nom}}</a>
                </h5>
                <p class="text-muted">
                  <i class="mdi mdi-account mr-1"></i>
                  {{this.gerantService.gerant.nom}}
                </p>
              </div>
            </div>
            <hr class="my-4" />
            <div class="row text-center">
              <div class="col-6">
                <p class="text-muted mb-2">Products</p>
                <h5>{{data.produits.length}}</h5>
              </div>
              <div class="col-6">
                <p class="text-muted mb-2">Wallet Balance</p>
                <h5>{{data.cf}} DH</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div *ngIf="redirect != null " class="alert alert-warning" role="alert">
      Choisir un magasin !! 
    </div>
    
    <app-ajouter-magasin (parentFun)="refresh()" ></app-ajouter-magasin>
  
  
      <!--end row -->
  </div>
  