<div class="home-btn d-none d-sm-block">
  <a routerLink=""><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>
<div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <div>
                      <a routerLink="" class="logo"><img src="assets/images/logo.png" style=" height: 225px;margin-bottom: -79px" alt="logo"></a>
                    </div>

                    <h4 class="font-size-18 mt-4">Register account</h4>
                    <p class="text-muted">Get your free BoutiqueMédina account now.</p>
                  </div>

                  <div class="p-2 mt-5">
                    <form class="form-horizontal" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                      <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                        <label for="nom">Nom</label>
                        <input type="text" formControlName="nom" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" id="nom"
                          placeholder="Enter nom">
                        <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                          <div *ngIf="f.nom.errors.required">nom is required</div>
                        </div>
                      </div>
                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-mail-line auti-custom-input-icon"></i>
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>
                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password"
                          placeholder="Password">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                      </div>
                   

                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-phone-fill auti-custom-input-icon"></i>
                        <label for="telephone">Telephone</label>
                        <input type="text" formControlName="telephone" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" id="telephone"
                          placeholder="+212........">
                        <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                          <div *ngIf="f.telephone.errors.required">telephone is required</div>
                          <div *ngIf="f.telephone.errors.pattern">Le numero +212...</div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
                      </div>
                    </form>
                  </div>

                  <div class="mt-5 text-center">
                    <p>Already have an account ? <a routerLink="/account/login" class="font-weight-medium text-primary">
                        Login</a> </p>
                    <p> <i class="mdi mdi-heart text-danger"></i></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="authentication-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end page -->
