<div class="container-fluid">
  
    <div class="row">
      <div class="col-lg-12">
        
        <div class="card">
          <div class="card-body">
            <div>
              <!--  -->
              <app-ajouter-fournisseur (parentFun)="fetchData()" ></app-ajouter-fournisseur>
            </div>
            <div class="table-responsive mt-3">
              <table class="table table-centered datatable dt-responsive nowrap"
                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead class="thead-light">
                  <tr>
                  
                    <th>Fournisseurs</th>
                    <th>Adresse</th>
                    <th>Telephone</th>
                    <th>ville</th>
                    <th>Action</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list; let i= index">
  
                    <td>{{item.nom}}</td>
                    <td>{{item.adresse}}</td>
                    <td>{{item.telephone}}</td>
                    <td>{{item.ville}}</td>
                    <td>
                      <app-modifier-fournisseur [fournisseur]="item"></app-modifier-fournisseur>
                      <app-suprimer-fournisseur (parentFun)="fetchData()" [id]="item.id"></app-suprimer-fournisseur>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  