<div class="home-btn d-none d-sm-block">
  <a routerLink=""><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>
<div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <div>
                      <a routerLink="" ><img class="logo" src="/assets/images/logo.png" alt="logo"></a>
                    </div>

                    <h4 class="font-size-18 mt-4">Welcome Back !</h4>
                    <p class="text-muted">Sign in to continue to MédinaShop.</p>
                  </div>

                  <div class="p-2 mt-5">
                    <form class="form-horizontal" [formGroup]="loginForm" >
                      <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                        <label for="email">Email</label>
                        <input formControlName="email" class="form-control" id="email" placeholder="Email"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>

                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" id="password"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                      </div>

                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Remember me</label>
                      </div>

                      <div class="mt-4 text-center">
                        <button class="btn btn-primary w-md waves-effect waves-light" (click)="onSubmit()" type="submit">Log In</button>
                      </div>

                      <div class="mt-4 text-center">
                        <a routerLink="/account/reset-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i>
                          Forgot
                          your
                          password?</a>
                      </div>
                    </form>
                  </div>

                  <div class="mt-5 text-center">
                    <p>Don't have an account ? <a routerLink="/account/signup" class="font-weight-medium text-primary">
                        Register </a> </p>
                    <p>© 2021 MédinaShop. Crafted with <i class="mdi mdi-heart text-danger"></i> by Ouidad&Oussama</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="authentication-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end page -->
