<div class="home-btn d-none d-sm-block">
    <a routerLink=""><i class="mdi mdi-home-variant h2 text-white"></i></a>
  </div>
  <div>
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4">
          <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
            <div class="w-100">
              <div class="row justify-content-center">
                <div class="col-lg-9" *ngIf="verify == false">
                  <div>
                    <div class="text-center">
                      <div>
                        <a routerLink="" ><img class="logo" src="/assets/images/logo.png" alt="logo"></a>
                      </div>
  
                      <h4 class="font-size-18 mt-4">Welcome Back !</h4>
                      <p class="text-muted">Please verify your email to continue to MédinaShop.</p>
                    </div>

                    
                    <div  class="mt-4 text-center">
                        <button class="btn btn-primary w-md waves-effect waves-light" (click)="sendEmail()" type="submit">Verify my Email</button>
                      </div>


  
                    <div class="mt-5 text-center">
                      <p>Don't have an account ? <a routerLink="/account/signup" class="font-weight-medium text-primary">
                          Register </a> </p>
                      <p>© 2021 MédinaShop. Crafted with <i class="mdi mdi-heart text-danger"></i> by Ouidad&Oussama</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9" *ngIf="verify">
                  <div>
                    <div class="text-center">
                      <div>
                        <a routerLink="" ><img class="logo" src="/assets/images/logo.png" alt="logo"></a>
                      </div>
  
                      <h4 class="font-size-18 mt-4">Welcome Back !</h4>
                      <p class="text-muted">Please verify your email to continue to MédinaShop.</p>
                    </div>

                  
                    <div *ngIf="verify" class="p-2 mt-5">
                      <form class="form-horizontal" [formGroup]="verifyForm" >
                        <h4 class="font-size-18 mt-4">Vérifiez votre boite de reception:</h4>
                        <div class="form-group auth-form-group-custom mb-4">
                           <input formControlName="code" class="form-control" id="code" placeholder="Saisir le Code"
                            [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                           <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                            <div *ngIf="f.code.errors.required">code is required</div>
                           </div>
                           <div class="mt-4 text-center">
                           <button class="btn btn-primary w-md waves-effect waves-light" (click)="onSubmit()" type="submit">Vérifier mon email</button>
                          </div>
                        </div>  
                        <div class="mt-4 text-center">
                        </div>
                      </form>
                    </div>
  
                    <div class="mt-5 text-center">
                      <p>Don't have an account ? <a routerLink="/account/signup" class="font-weight-medium text-primary">
                          Register </a> </p>
                      <p>© 2021 MédinaShop. Crafted with <i class="mdi mdi-heart text-danger"></i> by Ouidad&Oussama</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="authentication-bg">
            <div class="bg-overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end page -->
  