  <a href="javascript:void(0);" class="mr-3 text-success" (click)="extraLarge(exlargeModal)"  placement="top" ngbTooltip="Visualiser">
    <i class="mdi mdi-eye-outline font-size-18"></i>
  </a>

  <!-- Contacts model  -->
<ng-template #exlargeModal role="document" let-modal="close">
    <div class="modal-header">
      <h5 class="modal-title">Détails Produit</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-3">
        <div class="container-fluid">
  
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xl-5">
                        <div class="product-detail">
                          <div class="row">
                            <div class="col-3">
                              <ul ngbNav #nav="ngbNav" class="nav-pills flex-column" orientation="vertical">
                                <li [ngbNavItem]="1">
                                  <a ngbNavLink>
                                    <img src="{{produit.image1}}" alt=""
                                      class="img-fluid mx-auto d-block tab-img rounded">
                                  </a>
                                  <ng-template ngbNavContent>
                                    <div class="product-img">
                                      <img src="{{produit.image1}}" alt="" class="img-fluid mx-auto d-block"
                                        data-zoom="assets/images/product/img-1.png">
                                    </div>
                                  </ng-template>
                                </li>
          
                                <li [ngbNavItem]="2">
                                  <a ngbNavLink>
                                    <img src="{{produit.image2}}" alt=""
                                      class="img-fluid mx-auto d-block tab-img rounded">
                                  </a>
                                  <ng-template ngbNavContent>
                                    <div class="product-img">
                                      <img src="{{produit.image2}}" alt="" class="img-fluid mx-auto d-block"
                                        data-zoom="assets/images/product/img-1.png">
                                    </div>
                                  </ng-template>
                                </li>
          
                                <li [ngbNavItem]="3">
                                  <a ngbNavLink>
                                    <img src="{{produit.image3}}" alt=""
                                      class="img-fluid mx-auto d-block tab-img rounded">
                                  </a>
                                  <ng-template ngbNavContent>
                                    <div class="product-img">
                                      <img src="{{produit.image3}}" alt="" class="img-fluid mx-auto d-block"
                                        data-zoom="assets/images/product/img-1.png">
                                    </div>
                                  </ng-template>
                                </li>
                                <li [ngbNavItem]="4">
                                  <a ngbNavLink>
                                    <img src="{{produit.image4}}" alt=""
                                      class="img-fluid mx-auto d-block tab-img rounded">
                                  </a>
                                  <ng-template ngbNavContent>
                                    <div class="product-img">
                                      <img src="{{produit.image4}}" alt="" class="img-fluid mx-auto d-block"
                                        data-zoom="assets/images/product/img-1.png">
                                    </div>
                                  </ng-template>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-8 col-9">
                              <div [ngbNavOutlet]="nav"></div>
                            </div>
                          </div>
                        </div>
                        <!-- end product img -->
                      </div>
                      <div class="col-xl-7">
                        <div class="mt-4 mt-xl-3">
                          <a href="#" class="text-primary">{{null}}</a>
                          <h5 class="mt-1 mb-3">{{produit.designation}}</h5>

          
                          <h5 class="text-danger mt-2">{{produit.prix}} DH <span
                              class="text-danger font-size-12 ml-2"></span></h5>
                          <p class="mt-3">To achieve this, it would be necessary to have uniform pronunciation</p>
                          <hr class="my-4">
          
                          <div class="row">
                            <div class="col-md-6">
                            
                            </div>
          
                            <div>
                              <h5 class="font-size-14">Services :</h5>
                              <ul class="list-unstyled product-desc-list">
                                <li><i class="mdi mdi-sync text-primary mr-1 align-middle font-size-16"></i> 10 Days Replacement
                                </li>
                                <li><i class="mdi mdi-currency-usd-circle text-primary mr-1 align-middle font-size-16"></i> Cash
                                  on Delivery available</li>
                              </ul>
                            </div>
                          </div>
          
                        
          
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
          
                    <div class="mt-4">
                      <h5 class="font-size-14 mb-3">Product description: </h5>
                      <div class="product-desc">
                        <ul ngbNav #productNav="ngbNav" [activeId]="2" class="nav-tabs nav-tabs-custom">
                          <li [ngbNavItem]="1">
                            <a ngbNavLink>
                              <a class="nav-link" id="desc-tab" data-toggle="tab" href="#desc" role="tab">Description</a>
                            </a>
                            <ng-template ngbNavContent>
                              <div>
                                  {{produit.description}}
                     
                              </div>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="2">
                            <a ngbNavLink>
                              <a class="nav-link" id="specifi-tab" data-toggle="tab" href="#specifi" role="tab">Specifications</a>
                            </a>
                            <ng-template ngbNavContent>
                              <div class="table-responsive">
                                <table class="table table-nowrap mb-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row" style="width: 400px;">Category</th>
                                      <td>{{produit.categorie.nom}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Brand</th>
                                      <td>Jack & Jones</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Color</th>
                                      <td>Blue</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Material</th>
                                      <td>Cotton</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Weight</th>
                                      <td>140 G</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </ng-template>
                          </li>
                        </ul>
                        <div [ngbNavOutlet]="productNav" class="border border-top-0 p-4"></div>
                      </div>
                    </div>
          
                   
                  </div>
                </div>
                <!-- end card -->
              </div>
            </div>
            <!-- end row -->
          
           
            <!-- end row -->
          </div>
          
      </div>

  </ng-template>
  