<a href="javascript:void(0);" class="mr-3 text-primary" (click)="openModal(content)"  placement="top" ngbTooltip="Edit">
    <i class="mdi mdi-pencil font-size-18"></i>
  </a>

  <!-- Contacts model  -->
<ng-template #content role="document" let-modal="close">
    <div class="modal-header">
      <h5 class="modal-title">Modifier Fournisseur</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-3">
      <div class="text-left">
        <form (ngSubmit)="saveData()" [formGroup]="validationform">
  
          <div class="form-group">
            <label for="nom">Entrez le Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Enter le nom" formControlName="nom"
              [ngClass]="{'is-invalid': submitted && form.nom.errors}">
            <div *ngIf="submitted && form.nom.errors" class="invalid-feedback">
              <span *ngIf="form.nom.errors.required">Nom obligatoire </span>
            </div>
          </div>
  
          <div class="form-group">
            <label for="adresse">Entrez l'adresse </label>
            <input class="form-control" id="adresse" placeholder="Enter l'adresse" formControlName="adresse"
              [ngClass]="{'is-invalid': submitted && form.adresse.errors}">
            <div *ngIf="submitted && form.adresse.errors" class="invalid-feedback">
              <span *ngIf="form.adresse.errors.required">Adresse  obligatoire </span>
            </div>
          </div>
  
          <div class="form-group">
            <label>Entrez le numero de telephone </label>
            <input type="text" class="form-control" placeholder="Enter le numero de telephone " formControlName="telephone"
              [ngClass]="{'is-invalid': submitted && form.telephone.errors}" minlength="10">
            <div *ngIf="submitted && form.telephone.errors" class="invalid-feedback">
              <span *ngIf="form.telephone.errors.required">telephone obligatoire </span>
              <span *ngIf="form.telephone.errors.minlength">telephone number must be 10 characters.</span>
            </div>
          </div>
  
          <div class="form-group">
            <label>Entrez la ville </label>
            <input type="text" class="form-control" placeholder="Enter  la ville" formControlName="ville"
              [ngClass]="{'is-invalid': submitted && form.ville.errors}">
            <div *ngIf="submitted && form.ville.errors" class="invalid-feedback">
              <span *ngIf="form.ville.errors.required">ville obligatoire .</span>
            </div>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-success" (click)="validSubmit()">Valider</button>
            <button type="button" class="btn btn-danger ml-1" (click)="modal('close click')">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  