
<div class="container-fluid">
    <app-pagetitle title="Products" [breadcrumbItems]=""></app-pagetitle>
  
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div class="card">
          <div class="card-header bg-transparent border-bottom">
            <h5 class="mb-0">Filters</h5>
          </div>
  
          <div class="card-body">
            <h5 class="font-size-14 mb-3">Categories</h5>
            <ngb-accordion [closeOthers]="true" activeIds="static-1" class="custom-accordion categories-accordion">
              <ngb-panel id="static-1" class="categories-group-card">
                <ng-template ngbPanelTitle>
                  <i class="mdi mdi-desktop-classic font-size-16 align-middle mr-2"></i>
                  Electronic
                  <i class="mdi mdi-minus float-right accor-plus-icon"></i>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div>
                    <ul class="list-unstyled categories-list mb-0">
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Mobile</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Mobile accessories</a>
                      </li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Computers</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Laptops</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Speakers</a></li>
                    </ul>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-2" class="categories-group-card">
                <ng-template ngbPanelTitle class="categories-group-list">
                  <i class="mdi mdi-hanger font-size-16 align-middle mr-2"></i> Fashion
                  <i class="mdi mdi-minus float-right accor-plus-icon"></i>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div>
                    <ul class="list-unstyled categories-list mb-0">
                      <li class="active"><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i>
                          Clothing</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Footwear</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Watches</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Sportswear</a></li>
                    </ul>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-3" class="categories-group-card">
                <ng-template ngbPanelTitle>
                  <i class="mdi mdi-pinwheel-outline font-size-16 align-middle mr-2"></i> Baby & Kids
                  <i class="mdi mdi-minus float-right accor-plus-icon"></i>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div>
                    <ul class="list-unstyled categories-list mb-0">
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Clothing</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Footwear</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Toys</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Baby care</a></li>
                    </ul>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-4" class="categories-group-card">
                <ng-template ngbPanelTitle>
                  <i class="mdi mdi-dumbbell font-size-16 align-middle mr-2"></i> Fitness
                  <i class="mdi mdi-minus float-right accor-plus-icon"></i>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div>
                    <ul class="list-unstyled categories-list mb-0">
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Gym equipment</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Yoga mat</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Dumbbells</a></li>
                      <li><a href="javascript: void(0);"><i class="mdi mdi-circle-medium mr-1"></i> Protein
                          supplements</a></li>
                    </ul>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
  
     
  
        
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <div>
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <h5>Clothes & Accessories</h5>
                    <ol class="breadcrumb p-0 bg-transparent mb-2">
                      <li class="breadcrumb-item"><a href="javascript: void(0);">Fashion</a></li>
                      <li class="breadcrumb-item"><a href="javascript: void(0);">Clothing</a></li>
                      <li class="breadcrumb-item active">T-shirts</li>
                    </ol>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-inline float-md-right">
                    <div class="search-box ml-2">
                      <div class="position-relative">
                        <input type="text" class="form-control rounded" placeholder="Search..." [formControl]="search" (focus)="filter()">
                        <i class="mdi mdi-magnify search-icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
  
              <ul class="list-inline my-3 ecommerce-sortby-list">
                <li class="list-inline-item"><span class="font-weight-medium font-family-secondary">Sort by:</span></li>
                <li class="list-inline-item active"><a href="javascript: void(0);">Popularity</a></li>
                <li class="list-inline-item"><a href="javascript: void(0);">Newest</a></li>
                <li class="list-inline-item"><a href="javascript: void(0);">Discount</a></li>
              </ul>
  
              <div class="row no-gutters">
                <div class="col-xl-4 col-sm-6" *ngFor="let item of filtredList">
                  <div class="product-box">
                    <div class="product-img">
                      <div class="product-ribbon badge badge-primary">
                     
                      </div>
                      <div class="product-like">
                        <a href="javascript: void(0);">
                          <i class="mdi mdi-heart-outline"></i>
                        </a>
                      </div>
                      <a [routerLink]="['/products', item.id]"> <img src="{{item.image1}}" alt=""
                          class="img-fluid mx-auto d-block">
                      </a>
                    </div>
  
                    <div class="text-center">
                      <p class="font-size-12 mb-1">{{item.categories}}</p>
                      <h5 class="font-size-15"><a  [routerLink]="['/products', item.id]" class="text-dark">{{item.designation}}</a>
                      </h5>
                      <h5 class="mt-3 mb-0"><span class="text-muted mr-2"> {{item.prix}}DH</span></h5>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row mt-4">
                <div class="col-lg-12">
                  <ngb-pagination class="pagination-rounded d-flex justify-content-center" [collectionSize]="6" page="1"
                    [maxSize]="1" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  
  </div> <!-- container-fluid -->
  