
        <div class="table-responsive">
          <table class="table table-centered mb-0 table-nowrap">
<td>
    <img src="{{ commande.produit.image1 }}" alt="product-img" title="product-img" class="avatar-md" />
  </td>
  <td>
    <h5 class="font-size-14 text-truncate"><a routerLink="/ecommerce/product-detail"
        class="text-dark">{{ commande.produit.designation }}</a></h5>
  </td>
  <td>
    {{ commande.produit.prix }}
  </td>
  <td>
    <div style="width: 120px;">
      <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
        <input type="number"  name="demo_vertical" class="form-control" [formControl]="quantite" (change)="change()" >
      </div>
      <div>
        Max is {{commande.produit.quantite}}
      </div>
    </div>
  </td>
  <div>
  <td>
    {{ commande.produit.prix * commande.qte }} 
  </td>
  <td style="width: 90px;" class="text-center">
    <a href="javascript:void(0);" class="action-icon text-danger"> <i
        class="mdi mdi-trash-can font-size-18"></i></a>
  </td>
  </div>
  </table>