<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="validationform" >
            <aw-wizard>
              <aw-wizard-step stepTitle="Basic Info">
                <div class="tab-pane" id="basic-info">
                  <h4 class="card-title"></h4>
                  <p class="card-title-desc"> 
  
                    <div class="form-group">
                      <label for="productname">Désignation</label>
                      <input id="productname" name="productname" type="text" class="form-control" formControlName="designation">
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="manufacturername">Unité</label>
                          <input id="manufacturername" name="manufacturername" type="text" class="form-control" formControlName="unite">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="manufacturerbrand">Quantite</label>
                          <input id="manufacturerbrand" name="manufacturerbrand" type="text" class="form-control"formControlName="quantite">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="price">Prix</label>
                          <input id="price" name="price" type="text" class="form-control" formControlName="prix">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Categorie</label>
                          <select class="form-control select2" formControlName="categorie" >
                            <option>Select</option>
                            <option *ngFor="let item of  categories let i= index" value = "{{item.id}}">{{item.nom}}</option>
                          </select>
                        </div>
                      </div>
                    
                    </div>
                    <div class="form-group">
                      <label for="productdesc">Produit Description</label>
                      <textarea class="form-control" id="productdesc" rows="5"  formControlName="description"></textarea>
                    </div>
                </div>
                <button type="button" awNextStep class="btn btn-primary">Suivant</button>
              </aw-wizard-step>
              <aw-wizard-step stepTitle="Product Img" awOptionalStep>
                <div class="tab-pane" id="product-img">
                  <h4 class="card-title">Product Images</h4>
                  <p class="card-title-desc">Upload product image</p>
                  <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                          <div class="card-title"></div>
                          <div>
                              <dropzone class="dropzone" (success)="OnFileChange($event)" >
                              </dropzone>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <button type="button" awPreviousStep class="btn btn-primary">Précédent</button> &nbsp;
                <button type="button" awNextStep class="btn btn-primary mr-2 waves-effect waves-light">Suivant</button>
              </aw-wizard-step>
              <aw-wizard-step stepTitle="Confirmation">
                <div class="tab-pane" id="metadata">
                  <h4 class="card-title"></h4>
                  <p class="card-title-desc"></p>
  
                  <form>
                 
                    
                   
                  </form>
                  <div class="text-center mt-4 ">
                    <button type="submit" class="btn btn-success w-lg mr-2 waves-effect waves-light" (click)="validSubmit()">Valider</button>
                 
                  </div>
                </div>
                <div class="pager wizard twitter-bs-wizard-pager-link">
                  <button class="btn btn-primary mr-2 waves-effect waves-light"awPreviousStep>Précédent</button>
                
                </div>
              </aw-wizard-step>
            </aw-wizard>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  