<div class="container-fluid">
  
    <div class="row">
      <div class="col-lg-12">
        
        <div class="card">
          <div class="card-body">
            <div class="table-responsive mt-3">
              <table class="table table-centered datatable dt-responsive nowrap"
                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead class="thead-light">
                  <tr>
                  
                    <th>Commande Id</th>
                    <th>Date</th>
                    <th>Nom du client</th>
                    <th>Telephone du client</th>
                    <th>Qte</th>
                    <th>Montant</th>
                    <th>etat</th>
                    <th>Action</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let commande of commandes; let i= index">

                    <td>{{commande.id}}</td>
                    <td>{{currentDate | date:'yyy-MM-dd hh:mm a'}}</td>
                    <td>{{commande.gerant.nom}}</td>
                    <td>{{commande.gerant.telephone}}</td>
                    <td>{{commande.qte}}</td>
                    <td>{{commande.montant * commande.qte}} DH</td>
                    <td>
                      <div class="badge font-size-12" [ngClass]="{'badge-soft-danger': true,
                      'badge-soft-success':false,
                      'badge-soft-warning': false}">
                        <ngb-highlight result="Non Confirmer" [term]=""></ngb-highlight>
                      </div></td>
                    <td>
                      <i class="btn btn-success ri-check-line align-middle btn-rounded " (click)="clickEvent()"></i>&nbsp;
                      <i class="btn btn-danger ri-close-line align-middle  btn-rounded   "></i>
                    </td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  